##EXAMPLE

#mongo_user="ADMINUSER"
#mongo_pwd="PASSWORD"
#mongo_host="xxx.xxx.x.x"
#install_dir="/opt/mongo"
#repetitions=7
#log_file="$install_dir/logs/backup.logs"
#out_dir="$install_dir/back-up"
#db_name="$install_dir/db/replica.db"
#LOG_MESSAGE_ERROR=1
#LOG_MESSAGE_WARN=2
#LOG_MESSAGE_INFO=3
#LOG_MESSAGE_DEBUG=4
#LOG_LEVEL=$LOG_MESSAGE_DEBUG

locale_date=$(date +%x)
locale_time=$(date +%X)
mongo_user=""
mongo_pwd=""
mongo_host=""
install_dir="/opt/mongo"
repetitions=
log_file="$install_dir/logs/backup.logs"
out_dir="$install_dir/back-up"
db_name="$install_dir/db/replica.db"
LOG_MESSAGE_ERROR=1
LOG_MESSAGE_WARN=2
LOG_MESSAGE_INFO=3
LOG_MESSAGE_DEBUG=4
LOG_LEVEL=$LOG_MESSAGE_DEBUG
